{
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 80,
	"arrowParens": "avoid",
	"endOfLine": "auto",
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@routes/(.*)$",
		"^@lib/(.*)$",
		"^@utils/(.*)$",
		"^@components/(.*)$",
		"^@/(.*)$",
		"^[./]",
		"^[../]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderGroupNamespaceSpecifiers": true,
	"importOrderCaseInsensitive": true
}
