{
    "tabWidth": 4,
    "semi": false,
    "singleQuote": false,
    "printWidth": 80,
    "endOfLine": "auto",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "@/.*",
        "(?=./styles.module.scss)"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderGroupNamespaceSpecifiers": true,
    "importOrderCaseInsensitive": true
}
